@import url('https://fonts.googleapis.com/css?family=Neucha|Open+Sans');
/*font-family: 'Neucha', cursive;
font-family: 'Open Sans', sans-serif;*/
@media (max-width: 576px) {
    .logo {
    position: unset!important;
    z-index: -1 !important;
    margin-left: 0!important;
    }
    nav.navbar.navbar-expand-lg.navbar-light.bg-light{
        height: 56px;
    }
    nav{
        z-index: 1;
    }
    
    .open-status {
    right: 85px!important;
    }
    .open-status {
    background: #51A351;
    padding: 4px 30px;
    color: #fff!important;
    border-radius: 0;
    position: absolute;
    right: -16px;
    font-size: 25px;
    font-family: "Open Sans", SANS-SERIF;
        margin-top: 0;
}
    .local-curry{
        display: none;
    }
}
@media (max-width: 768px) {
/* Styles */
    .open-status {
    background: #51A351;
    padding: 1px 30px;
    color: #fff!important;
    border-radius: 0;
    position: absolute;
    right: 80px;
    font-size: 25px;
    font-family: "Open Sans", SANS-SERIF;
    margin-top: 0px;
}
    .local-curry{
        display: none!important;
        line-height: 0;
    }
}
div#navbarToggleExternalContent {
    width: 100%;
    background: #ff9600;
    margin-top: -8px;
    margin-left: -16px;
    margin-right: -16px;
}


body{
    background: url(../images/body_bg.jpg) no-repeat fixed center top; 
}
/************HEADER STYLE*****************/
#main-wrapper{
    margin-top: 20px;
}
.logo {
    position: absolute;
    z-index: 1;
    margin-left: 2%;
    margin-top: 5px;
}

.row-down {
    top: 44px;
    position: relative;
}

/************NAVIGATION STYLE*****************/
.header-part{
    
}
.navbar-nav{
    margin-right: 110px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: #FF9600!important;
    height: 40px;
}
.nav-link{
    font-family: 'Neucha', cursive;
    color: #fff!important;
    font-size: 20px;
    margin:0 3px ;
    font-weight: 700;
}
.navbar-toggler{
    margin-bottom: 16px;
}
.navbar-toggler.collapsed{
    margin-bottom: 0px;
}
.nav-link:hover{
    color: #CB3611!important;
}

.local-curry {
    position: absolute;
    line-height: 60px;
}
.local-curry p{
    color: #fff;
    font-size: 16px;
}
.local-curry em{
    color: #CB3611;
}

.open-status {
    background: #51A351;
    padding: 4px 30px;
    color: #fff!important;
    border-radius: 0;
    position: absolute;
    right: -16px;
    font-size: 25px;
    font-family: "Open Sans", SANS-SERIF;
    margin-top: -4px;
}
/************FOOTER TOP STYLE*****************/
img.vendor-logo {
    width: 150px;
    height: 60px;
}
.footer-top{
    background: url(../images/middlebg.jpg) no-repeat;
    background-size: cover;
    padding: 30px 0;
    font-family:'Neucha', cursive;
    text-align: center;
    
}
.top-border{
    background: url(../images/toptrim.png) repeat-x;
    min-height: 18px;
}
.bottom-border{
    background: url(../images/bottomtrim.png) repeat-x;
    min-height: 15px;
}
.online-order h1,.online-order p,.welcome-message h1,.welcome-message p {
    color: #fff;
    
}
.footer-left-btn{
    color: #fff;
    background: #000;
}
.footer-left-btn["placeholder"]{
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
.welcome-message p{
    font-family: 'Open Sans', sans-serif;
}
a.btn-order {
    background: #51A351;
    border-color: #51A351;
    padding: 6px 26px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    text-decoration: none;
}
a.btn-order:hover{
    background: #56AC56;
}

.footer-bottom{
    background: #343434;
    text-align: center;
    margin-top: 0;
    padding: 20px 0;
}
.footer-bottom p{
    margin-bottom: 5px;
    color: #fff;
}
.footer-bottom a{
    color: #fff;
}
.footer-bottom img{
    margin-bottom: 10px;
}

.bottom-bg{
    min-height: 60px;
    background: #202020;
}


/************Members Page**************/
.register{
    margin-top: 120px;
    margin-bottom: 70px;
}
.registration-form{
    
    background: #FF9600;
    border: 1px solid #fff;
    padding: 10px;
}
.sign-in-area{
    background: #ff9600;
    padding: 20px;
    margin-bottom: 30px;
}
.sign-in-area h1, .sign-in-area label{
    color:#fff;
}
a.btn.sign-btn {
    color: #fff;
    background: #2D2D2D;
    border-radius: none!important;
    padding: 6px 20px;
}



/************Delivery Page****************/
.delivery{
    margin-top: 80px;
}
.food-menu{
    background: #fff;
    padding: 20px 0;
}
.food-category{
    background: #CCCCCC;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
}
.food-category li{
    background: #EAEAEA;
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
    margin-bottom: 3px;
    text-align: center;
    font-family: 'Neucha', cursive;
}
.food-category li a{
    color: #404040;
    font-size: 20px;
}
.food-category li:hover{
    text-decoration: none;
    background: #fff;

}
.food-category li a{
    text-decoration: none;
}
.delivery-head {
    background: #DFF0D8;
    padding: 5px;
    font-family: 'Neucha', sans-serif;
}
.add{
    margin-right: 5px;
}
.delivery-img{
    margin-top: 30px;
}
.qty{
    background: #ff9600;
    padding: 10px;
    
}
.qty table{
    width: 320px
    
}
.delivery-button{
    padding: 10px 30px;
    width: 160px
}
.bottom-hr{
    border-bottom: 1px solid #fff;
}
/***************About Page***************/


.about{
    margin-top: 60px;
}
.reviews{
    background: #ff9600;
    padding: 20px 10px;
}
.refund{
    background: #ff9600;
    padding: 20px 10px;
}


































// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .logo {
    position: unset!important;
    z-index: unset!important;
    margin-left: 0!important;
    }
    .right-address {
    top: 0px!important;
    right: 0!important;
    width: 100%!important;
    }
    .open-status {
    right: 85px!important;
    }
}
